<h1>Update Profile</h1>

<%= form_for @user, url: "/profile" do |f| %>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :first_name %>
          <%= f.label :first_name, 'First Name' %>
        </div>
        <div class="input-field col s6">
          <%= f.text_field :last_name %>
          <%= f.label :last_name, 'Last Name' %>
        </div>
      </div>
      <div class="row right">
        <%= f.submit "Update", class: "btn" %>
        <%= button_to "Cancel", root_path,
      class: "btn grey" %>
      </div>
    </form>
  </div>
<% end %>
