<!DOCTYPE html>
<html>
<head>
  <title>RailsReactFlux</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="right">
    <% if user_signed_in? %>
      Signed in as 
      <%= link_to current_user.display_name, profile_path %>. 
      <%= link_to "Log out", destroy_user_session_path, method: 'delete' %>
    <% else %>
      Please
      <%= link_to "Log in", new_user_session_path %> or
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
